@import 'utilities.css';

:root{
	--primary:#3DCFD3;
	--dark:#161616;
	--pure:#FFFFFF;
	--ternary:#898989;
	--light:#F2F2F2;
}
body{
	background-color: var(--dark); 
	font-family: 'Poppins',sans-serif;
	display: block;
}

header{

	background-color: var(--dark);
}

*{
	padding: 0;
	margin: 0;
	/*box-sizing: border-box;*/
	-webkit-font-smoothing: antialiased;
}
@media(min-width: 1024px){
	.main-site #main-drawer{
		display: none;
	}
}
.main-site{
	position: relative;
	}
	.drawer{
		position: absolute;
		top: 40px;
		right: 40px;
		z-index: 11;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
	}
	.drawer img{
		width: 25px;
	}
	.mobile-nav{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1001;
		background: var(--dark);
		width: 100%;
		height: 100%;
		padding: 2rem;
		padding-top: 5rem;
		transform: translateX(-100%);
		transition: all .5s ease-in-out;
	}
	.open{
		transform: translateX(0);
	}
	.times{
		position: fixed;
		
		padding-left: 285px;
		border: none;
		/*background: none;*/
		outline: none;
		cursor: pointer;
	}
	.times img{
		width: 30px;

	}

	.mobile-nav ul{
		list-style-type: none;
		color: var(--primary);
	}
	.mobile-nav ul li a{
		color: var(--secondary);
		text-decoration: none;
		font-size: 1rem;
	}



.about{
	background-color: var(--dark);
	border: none;
	outline: none;
}
.about img{
	display: block;
	top: 0px;
	width: 350px;
	overflow: hidden;
	position: relative;
	float: right;
	vertical-align: middle;
	border-style: none;

}
.about h1{
	display: block;
	
	margin-inline-start: 550px;
	
	color: var(--primary);
	font-size: 2rem;
	padding-top: 200px;
}
.about p{
	display: block;
	margin-block-start: 0.67em;
	/*margin-block-end: 0.67rem;*/
	margin-inline-start: 100px;
	margin-inline-end: 100px; 

	color: var(--pure);
	line-height: 1.9; 
	font-size: 1.5rem;
	padding-bottom: 300px;
	text-align: center;

}
.education{

	position: relative;
	background-size: contain;
	background-color: var(--dark);
}
.education h1{
	display: block;
	font-size: 2rem;
	margin-inline-start: 550px;
	margin-block-end:0.67em;
	color: var(--primary);
	font-size: 2rem;
	
	padding-top: 100px;
	
}
.education .boy{
	top: 0px;
	width: 450px;
	overflow: hidden;

	float: right;
	vertical-align: middle;
	border-style: none;
}
.education h2{
	display: block;
	
	margin-inline-start: 110px;
	color: var(--primary);
	padding-top: 50px;
}

.education .hat{
	
	margin-left: 6px;
	margin-top: -125px;
	overflow: hidden;
	border: none;
	vertical-align: middle;
	height: 100px;
	width: 100px;
}
.education h3{
	display: block;
	
	margin-inline-start: 110px;
	color: var(--pure);
	padding-top: 0;
}
.education .edulast{
	color: var(--primary);
	padding-bottom: 200px;
}
.education .lasthat{
	padding-left: 0px;
	margin-left: 6px;
	margin-top: -520px;
	overflow: hidden;
	border: none;
	vertical-align: middle;
	height: 100px;
	width: 100px;

}
.hobbies{
	position: relative;
	background-size: contain;
	background-color: var(--dark);
	
}
.hobbies h1{
	display: block;
	
	margin-inline-start: 550px;
	margin-block-end:0.67em;

	color: var(--primary);
	font-size: 2rem;
	padding-left: 0px;
	padding-top: 100px;
	
	
}
.hobbies .hobby{
	top: 0px;
	width: 600px;
	overflow: hidden;
	float: right;
	vertical-align: middle;
	border-style: none;

}
.hobbies h2{
	display: block;
	
	margin-inline-start: 110px;
	color: var(--primary);
	padding-top: 50px;
}
.hobbies h3{
	display: block;
	
	margin-inline-start: 110px;
	color: var(--pure);
	padding-top: 0;

}
.hobbies .game{
	height: 150px;
	width: 150px;
	margin-top: -115px;
	margin-left: -15px;
}
.hobbies .popcorn{
	height: 140px;
	width: 140px;
	margin-left: -14px;
	margin-top: -125px;
}
.hobbies .chess{
	
	margin-left: -15px;
	margin-top: -500px;
	overflow: hidden;
	border: none;
	vertical-align: middle;
	height: 150px;
	width: 150px;
}
.hobbies .hoblast{
	color: var(--pure);
	padding-top: 0;
	padding-bottom: 200px;

}
.bottom
{
	margin-top: 100px;
	background-color: var(--dark);
	margin-bottom: 50px;
	
	
}
.bottom .footer
{
	color:#008B8B;
	font-family: 'Montserrat', sans-serif;
	margin-left: 550px;
	text-decoration: none; 
}
.bottom .footer-link
{
	color:#008B8B;
	font-family: 'Montserrat', sans-serif;
	margin-left: 50px;
	text-decoration: none; 
}

.bottom a:hover
{
	color: var(--pure);
}
.bottom p
{
	margin-left: 560px;
	color:#008B8B;
}



header nav .left a{
	color: var(--pure);
	margin-right: 2rem;
	text-decoration: none;
}

@media (max-width: 480px){
	header #main-nav{
		display: none;
	}

	.about{
	background-color: var(--dark);
	border: none;
	outline: none;
	}
	.about img {
	    display: block;
	    top: 0px;
	    width: 141px;
	    overflow: hidden;
	    position: relative;
	    float: right;
	    vertical-align: middle;
	    border-style: none;
	}
	.about h1 {
	    display: block;
	    margin-inline-start: 80px;
	    color: var(--primary);
	    font-size: 1.5rem;
	    padding-top: 50px;
	}
	.about p {
	    display: block;
	    margin-block-start: 0.67em;
	    /* margin-block-end: 0.67rem; */
	    margin-inline-start: 100px;
	    margin-inline-end: 100px;
	    color: var(--pure);
	    line-height: 1.9;
	    font-size: 0.5rem;
	    padding-bottom: 92px;
	    text-align: center;
	}
	.education{

		position: relative;
		background-size: contain;
		background-color: var(--dark);
	}
	.education h1 {
   	    display: block;
	    font-size: 1.5rem;
	    margin-inline-start: 80px;
	    margin-block-end: 0.67em;
	    color: var(--primary);
	    
	    padding-top: 0px;
	}
	.education .boy {
	    top: 0px;
	    width: 142px;
	    overflow: hidden;
	    float: right;
	    vertical-align: middle;
	    border-style: none;
	}
	.education h2 {
	    display: block;
	    margin-inline-start: 63px;
	    font-size: 0.7rem;
	    color: var(--primary);
	    padding-top: 50px;
	}

	.education .hat {
	    margin-left: 6px;
	    margin-top: -76px;
	    overflow: hidden;
	    border: none;
	    vertical-align: middle;
	    height: 50px;
	    width: 50px;
	}
	.education h3 {
	    display: block;
	    margin-inline-start: 63px;
	    color: var(--pure);
	    padding-top: 0;
	    font-size: 0.5rem;
	}
	.education .edulast {
	    color: var(--primary);
	    padding-bottom: 0px;
	}
	.education .lasthat {
	    padding-left: 0px;
	    margin-left: 6px;
	    margin-top: -73px;
	    overflow: hidden;
	    border: none;
	    vertical-align: middle;
	    height: 50px;
	    width: 50px;
	}
	.hobbies{
		position: relative;
		background-size: contain;
		background-color: var(--dark);
		
	}
	.hobbies h1 {
	    display: block;
	    margin-inline-start: 80px;
	    margin-block-end: 0.67em;
	    color: var(--primary);
	    font-size: 1.5rem;
	    padding-left: 0px;
	    padding-top: 40px;
	}
	.hobbies .hobby {
	    width: 385px;
	    overflow: hidden;
	    margin-top: -21px;
	    float: right;
	    vertical-align: middle;
	    border-style: none;
	}
	.hobbies h2 {
	    display: block;
	    margin-inline-start: 63px;
	    color: var(--primary);
	    font-size: 1.2rem;
	    padding-top: 50px;
	}
	.hobbies h3 {
	    display: block;
	    margin-inline-start: 63px;
	    color: var(--pure);
	    font-size: 0.8rem;
	    padding-top: 0;
	}
	.hobbies .game {
	    height: 100px;
	    width: 100px;
	    margin-top: -115px;
	    margin-left: -15px;
	}
	.hobbies .popcorn {
	    height: 100px;
	    width: 74px;
	    margin-left: -3px;
	    margin-top: -125px;
	}
	.hobbies .chess {
	    margin-left: -15px;
	    margin-top: -244px;
	    overflow: hidden;
	    border: none;
	    vertical-align: middle;
	    height: 100px;
	    width: 100px;
	}
	.hobbies .hoblast {
	    color: var(--pure);
	    padding-top: 0;
	    padding-bottom: 69px;
	}
	.bottom .footer {
	    color: #008B8B;
	    font-family: 'Montserrat', sans-serif;
	    margin-left: 33px;
	    text-decoration: none;
	}
	.bottom p {
	    margin-left: 46px;
	    color: #008B8B;
	}
	
}
