@import 'utilities.css';

:root{
	--primary:#3DCFD3;
	--dark:#161616;
	--pure:#FFFFFF;
	--ternary:#898989;
	--light:#F2F2F2;
}
body{
	font-family: 'Poppins',sans-serif;
	/*background-color: var(--dark);*/
}
div#circle{
	position: absolute;
	
	top: 15%;
}
header{
	background-color: var(--dark);
	/*clip-path: polygon(0 0,100% 0,100% 95%,70% 87%,0 95%);*/
	/*height: 50vw;
	width: 100vw;*/

}

@media(min-width: 1024px){
	.main-site #main-drawer{
		display: none;
	}
}

.main-site{
	position: relative;
}
.drawer{
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 11;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.drawer img{
	width: 25px;
}
.mobile-nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	background: var(--dark);
	width: 100%;
	height: 100%;
	padding: 2rem;
	padding-top: 5rem;
	transform: translateX(-100%);
	transition: all .5s ease-in-out;
}
.open{
	transform: translateX(0);
}
.times{
	position: fixed;
		
	padding-left: 285px;
	border: none;
	/*background: none;*/
	outline: none;
	cursor: pointer;
}
.times img{
	width: 30px;

}

.mobile-nav ul{
	list-style-type: none;
	color: var(--primary);
}
.mobile-nav ul li a{
	color: var(--secondary);
	text-decoration: none;
	font-size: 1rem;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
.container{
	max-width: 1152px;
	padding: 0 15px;
	margin: 0 auto;
}

header div .hero .right{
	color: var(--pure);
	margin-left: 700px;
	margin-top: 250px;
}

.hero .right h6{
	font-size: 1.4vw;
	color: var(--primary);
	margin-bottom: 0.5rem;
}
.hero .right h1{
	font-size: 3.5vw;
	font-weight: 100;
	line-height: 1;
	margin-bottom: 2rem;
}
.hero .right h1 span{
	color: var(--primary);
}
.hero .right p{
	line-height: 1.9;
	margin-bottom: 2rem;
}
header nav .left a{
	color: var(--pure);
	margin-right: 2rem;
	text-decoration: none;
}
@media(max-width: 480px){
	header #main-nav{
		display: none;
	}
	header div .hero .right{
		color: var(--pure);
		margin-left: 0px;
		margin-top: 0px;

	}

	.hero .right h6 {
	    font-size: 0.8rem;
	    color: var(--primary);
	    padding-top: 500px;
	    margin-bottom: 0.5rem;
	}
	.hero .right h1 {
	    font-size: 2rem;
	    font-weight: 100;
	    line-height: 1;
	    margin-bottom: 1rem;
	}
	.hero .right h1 span {
	    color: var(--primary);
	    font-size: 2rem;
	}
	.hero .right p{
		line-height: 1.9;
		margin-bottom: 2rem;
	}
	.hero .right p {
	    line-height: 1.9;
	    margin-bottom: 2rem;
	    font-size: 1rem;
	}
	.btn-secondary {
	    background: transparent;
	    color: var(--primary);
	    border-color: var(--primary);
	    margin-bottom: 110px;
	}
	.btn {
	    padding: 0.5rem 1rem;
	    font-size: 0.5rem;
	    font-weight: 600;
	    border: 2px solid tran;
	    outline: none;
	    cursor: pointer;
	}
}